<!---<sd-toolbar></sd-toolbar>-->
<!----<sd-navbar></sd-navbar>-->
<login *ngIf="isLogin()"></login>
<nav *ngIf="!isLogin()" sidebar id="sidebar" role="navigation" class="sidebar"></nav>
<nav *ngIf="!isLogin()" navbar (toggleSidebarEvent)="toggleSidebarListener($event)"
     (toggleChatEvent)="toggleChatListener()" class="page-controls navbar navbar-dashboard"></nav>
<aside *ngIf="!isLogin()" chat-sidebar class="chat-sidebar"></aside>
<div [hidden]="isLogin()" class="content-wrap" id="content-wrap">
    <main id="content" class="content view-animate fade-up" role="main">
        <router-outlet></router-outlet>
    </main>
</div>
